.employee-row {
  display: flex;
}

.employee-header {
  display: flex;
}

.employee-row > .employee-table-cell {  
  background-color: #92a8d1;
  color: white;
  width: 100%;
  margin: 1px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

.employee-header > .employee-table-cell {  
  background-color: #5882FA;
  color: white;
  width: 100%;
  margin: 1px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}