.employee-row {
  display: flex;
  background-color: #f2f2f2;
}

.employee-header {
  display: flex;
}

.employee-row > .employee-table-cell {  
  color: black;
  width: 100%;
  margin: 1px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

.employee-header > .employee-table-cell {  
  background-color: red;
  color: white;
  width: 100%;
  margin: 1px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}

.employee-row:hover {
	background-color: #BDBDBD;
}

